* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 50%;
  /* font-size: 62.5%; */
  /* uncomment if big problem */
  /* overflow-x: hidden; */
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.4rem;
  /* font-weight: 400; */
  color: rgb(231, 233, 234);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Normal Assets for reuse */

.not_allowed {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.not_allowed:hover {
  background-color: rgba(231, 233, 234) !important;
}

.main_box_shadow {
  z-index: 0 !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.box_details_option {
  color: rgb(231, 233, 234) !important;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box_details_option > svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.box_details_option:hover {
  color: rgb(231, 233, 234) !important;
  background-color: rgb(25, 27, 29) !important;
}

.loader {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.loader-inner {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-color: rgba(231, 233, 234) rgba(231, 233, 234, 0.2)
    rgba(231, 233, 234, 0.2);
  border-radius: 50%;
  animation: loader-animation 0.7s linear infinite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.network_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  padding: 2rem;
  color: rgb(113, 113, 113);
  margin: 0 auto;
}

.network_error > svg {
  width: 5rem;
  height: 5rem;
  font-weight: bolder;
  color: rgb(125, 125, 125);
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.network_error > p {
  text-align: center;
}

.retry_button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  background-color: rgb(231, 233, 234);
  border-radius: 999px;
  cursor: pointer;
}

.retry_button:hover {
  background-color: rgb(231, 233, 234, 0.9);
}

.retry_button > svg {
  width: 2.5rem;
  height: 2.5rem;
}

.ad_text {
  color: rgb(113, 113, 113);
  font-size: 2rem;
  margin-left: auto;
  background-color: rgb(113, 113, 113, 0.3);
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
}

.ad_text + .trending_options {
  margin-left: 0.5rem !important;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.display_button {
  background-color: rgb(231, 233, 234);
  color: black;
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.4rem 2rem;
  border-radius: 999px;
  cursor: pointer;
}

.display_button:hover {
  transition: all 0.3s;
  background-color: rgb(231, 233, 234, 0.9);
}

.display_link {
  color: rgb(29, 155, 240);
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem 1rem;
  margin-left: -1rem;
  width: max-content;
  cursor: pointer;
}

.display_link:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 999px;
}

.follow_single {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.follow_image {
  border-radius: 50%;
  overflow: hidden;
}

.follow_image img {
  width: 4.2rem;
  height: 4.2rem;
}

.follow_image img:hover {
  opacity: 0.9;
}

.follow_details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.follow_name {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.follow_name svg {
  width: 2.2rem;
  height: 2.2rem;
}

.follow_id {
  font-size: 1.8rem;
  color: rgb(113, 113, 113);
}

.follow_single .display_button {
  margin-left: auto;
  padding: 1.2rem 1.8rem;
  /* font-weight: 500; */
  font-size: 1.8rem;
}

.followed {
  background-color: transparent;
  color: rgb(231, 233, 234);
  border: 1px solid rgb(73, 77, 81);
}

.followed:hover {
  border-color: red;
  background-color: rgb(255, 0, 0, 0.2);
  color: red;
}

/* End -> Normal Assets for reuse */

.layout {
  width: 82%;
  display: flex;
  gap: 4rem;
}

.navigation {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between; */
  position: relative;
  width: 20%;
  /* height: 100vh; */
  font-size: 2.6rem;
  color: rgb(231, 233, 234);
}

.nav_fix {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  /* justify-content: space-between; */
  /* width: 15.56%; */
  height: 100vh;
}

.navigation_options {
  display: flex;
  flex-direction: column;
}

.navigation_option,
.navigation_option_logo {
  display: flex;
  gap: 2rem;
  padding: 1.6rem 1.6rem;
  border-radius: 999px;
  width: max-content;
}

.navigation_option_logo .nav_logo {
  width: 3rem;
  height: 3rem;
}

.navigation_option:first-child {
  margin-top: 2px;
  margin-bottom: 4px;
}

.navigation_option_logo:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav_main_option {
  margin-right: -2rem;
}

.nav_main_option:hover {
  cursor: pointer;
}

.nav_main_option:hover .navigation_option {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav_logo {
  width: 2.7rem;
  height: 2.7rem;
  fill: rgb(231, 233, 234);
}

.post_option {
  /* display: block; */
  /* margin-top: auto; */
  /* width: auto; */
  margin-top: 1rem;
  background-color: rgb(231, 233, 234);
  font-size: 2.1rem;
  font-weight: 600;
  padding: 2.4rem 0rem;
  border-radius: 999px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.post_option:hover {
  transition: all 0.3s;
  background-color: rgb(231, 233, 234, 0.9);
}

.session_main {
  position: relative;
  margin-top: auto;
  margin-bottom: 3rem;
  margin-right: -2rem;
}

.session_follow_main {
  padding: 1.5rem;
  /* margin-left: -2rem;
  margin-right: -2rem; */
  cursor: pointer;
}

.session_svg_option {
  margin-left: auto;
}

.session_follow_main:hover {
  background-color: rgb(25, 27, 29);
  border-radius: 999px;
}

.main_box_details_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99999 !important;
  /* position: absolute;
  bottom: 100%;
  left: 0;
  right: 0; */
  position: fixed;
  bottom: 93.2px;
  height: max-content;
  background-color: black;
  border: 1px solid rgb(47, 51, 54);
  border-radius: 2rem;
  overflow: hidden;
}

.main_box_details_options > div {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  cursor: pointer;
}

.main_box_details_options > div:hover {
  background-color: rgb(25, 27, 29);
}

.main_content {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(47, 51, 54);
  min-height: 100vh;
  font-size: 2rem;
}

.top_options_bar {
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(12px) brightness(0.3);
  backdrop-filter: blur(12px) brightness(0.3);
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  height: max-content;
  border-bottom: 1px solid;
  border-color: rgb(47, 51, 54);
  text-align: center;
  z-index: 99;
}

/* .top_options_fix {
  display: flex;
  position: sticky;
  width: 100%;
  /* left: 0; */
/* width:max-content;
  height: max-content; */
/* border-bottom: 1px solid;
  border-color: rgb(47, 51, 54);
  text-align: center;
} */

/* .top_options_bar div {
  padding: 1.1rem 0rem 0rem;
} */

.top_option_main {
  width: 45%;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(113, 113, 113);
}

.option_main_text {
  width: max-content;
  line-height: 6rem;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
}

.selected_option {
  border-color: rgb(231, 233, 234) !important;
  color: rgb(231, 233, 234) !important;
}

.top_option_main:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.option_settings {
  width: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option_settings > svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.background_template_settings:hover {
  opacity: 1;
}
.background_template_settings {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.posting_main {
  display: flex;
  gap: 1rem;
  padding: 1.7rem;
}

.posting_main_img img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.posting_main_img img:hover {
  opacity: 0.9;
}

.posting_main_main {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0.25rem;
  width: 100%;
}

.posting_main_body {
  margin-bottom: 3rem;
}

.posting_main_body span {
  display: block;
  font-size: 2.5rem;
  color: rgb(231, 233, 234);
  line-height: 3rem;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  height: auto;
}

.posting_main_body span[contenteditable]:empty:before {
  content: "What is happening?!";
  color: rgb(113, 113, 113);
  cursor: text;
}

.posting_bottom_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  border-top: 1px solid rgb(47, 51, 54);
  margin-bottom: -1.45rem;
}

.posting_bottom_options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.single_svg_main > svg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: top;
}

.single_svg_main {
  position: relative;
  margin-left: 1rem;
}

.background_template_svg_main:hover {
  opacity: 1;
}

.background_template_svg_main {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgba(113, 113, 113, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.posting_main_posting {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.posting_main_limit {
  padding: 0.5rem 2rem;
  border-right: 3px solid rgb(47, 51, 54);
}

.main_letter_limits {
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  color: rgb(231, 233, 234);
  background-color: rgb(231, 233, 234, 0.2);
}

/* These are the letters limits css 

*DO NOT DELETE* */

/* .letters_low_limit {
  color: rgb(226, 226, 18);
  background-color: rgb(226, 226, 18, 0.2);
} */

/* .letters_not_allowed {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 0, 0, 0.2);
} */

.posting_bottom_post_button {
  background-color: rgb(231, 233, 234);
  color: black;
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.4rem 2rem;
  border-radius: 999px;
  cursor: pointer;
}

.posting_bottom_post_button:hover {
  transition: all 0.3s;
  background-color: rgb(231, 233, 234, 0.9);
}

.load_new_posts {
  text-align: center;
  padding: 2rem 0rem;
  border-top: 2px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
  color: rgb(29, 155, 240);
  cursor: pointer;
}

.load_new_posts:hover {
  background-color: rgba(93, 90, 90, 0.1);
}

.top_options_bar {
  display: none;
}

.another_page_top_bar {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  padding: 1rem 0rem;
}

.another_page_top_bar h2 {
  font-weight: 500;
}

.another_page_top_bar p {
  color: rgb(113, 113, 113);
  font-size: 1.5rem;
}

.profile_main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(47, 51, 54);
}

.profile_main .background_image img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: 25% 25%;
  cursor: pointer;
}

.profile_image_details {
  cursor: pointer;
}

.profile_image_details:hover img {
  opacity: 0.9;
}

.profile_image_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.profile_main_image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -12rem;
  padding: 0.6rem;
  background-color: black;
}

.profile_main_image > img {
  border-radius: 50%;
  width: 100%;
}

.profile_main_button {
  padding: 1rem 2rem;
  border: 1.5px solid rgb(73, 77, 81);
  border-radius: 2rem;
  width: max-content;
  cursor: pointer;
  margin-top: -2rem;
  transition: all 0.3s;
}

.profile_main_button:hover {
  transition: all 0.3s;
  background-color: rgb(73, 77, 81, 0.3);
}

.profile_main_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;
}

.profile_details_name {
  font-size: 2.4rem;
  font-weight: 600;
}

.profile_details_id {
  color: rgb(113, 113, 113);
  font-size: 1.8rem;
}

.profile_details_description {
  margin-top: 1rem;
}

.profile_common_details {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: rgb(113, 113, 113);
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.profile_common_detail {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.profile_details_follow {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile_details_follow > div {
  display: flex;
  align-items: flex-end;
  /* gap: 0.5rem; */
  cursor: pointer;
}

.profile_details_follow > div:hover {
  text-decoration: underline;
}

.profile_follow_numbers {
  font-size: 1.8rem;
}

.profile_follow_label {
  font-size: 1.6rem;
  color: rgb(113, 113, 113);
}

.profile_details_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_details_option {
  width: 100%;
  /* padding: 2.5rem 0; */
  color: rgb(113, 113, 113);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.profile_details_option:hover {
  transition: all 0.3s;
  background-color: rgb(73, 77, 81, 0.3);
}

.profile_details_option > .option_main_text {
  /* text-align: center; */
  line-height: 6rem;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  border-radius: 2px !important;
}

.main_posts {
  display: flex;
  flex-direction: column;
}

.main_posts > div {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.main_posts > div:hover {
  background-color: rgba(93, 90, 90, 0.1);
}

.post,
.ad {
  display: flex;
  gap: 1rem;
  padding: 1.7rem;
  cursor: pointer;
}

.post_user_image > img:hover {
  opacity: 0.9;
}

.post_user_image > img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.main_post_details {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 0.25rem;
}

.top_post_details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user_main_details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post_user_name {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.post_user_name svg {
  width: 2.2rem;
  height: 2.2rem;
}

.post_user_id_time {
  font-size: 1.8rem;
  color: rgb(113, 113, 113);
}

.top_post_details > div:last-child {
  margin-left: auto;
  color: rgb(113, 113, 113);
}

.top_post_details > div:last-child:hover {
  color: rgb(29, 155, 240) !important;
}

.post_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post_body {
  font-size: 1.9rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.post_images {
  display: flex;
  /* collage making */
}

.post_image {
  border-radius: 2rem;
  overflow: hidden;
}

.post_image img {
  width: 100%;
}

.bottom_post_reactions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bottom_post_reactions > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: rgb(113, 113, 113);
  font-size: 1.6rem;
  font-weight: 400;
}

.bottom_post_reactions > div > div > svg,
.post_others > div > svg {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: top;
}

.bottom_post_reactions > div:not(.post_others) > div {
  position: relative;
}

.bottom_post_reactions > div:not(.post_others) > div > svg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.bottom_post_reactions > div:not(.post_others) > div > div {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.bottom_post_reactions > div:not(.post_others):hover > div > div {
  opacity: 1 !important;
}

.post_comments:hover,
.post_interactions:hover {
  color: rgb(29, 155, 240);
}

.post_comments_hover,
.post_interactions_hover {
  background-color: rgba(29, 155, 240, 0.1);
}

.post_retweet:hover {
  color: rgb(3, 184, 124);
}

.post_retweet_hover {
  background-color: rgb(3, 184, 124, 0.1);
}

.post_likes:hover {
  color: rgb(249, 24, 128);
}

.post_likes_hover {
  background-color: rgb(249, 24, 128, 0.1);
}

.post_others {
  gap: 1.5rem !important;
}

.post_others > div {
  position: relative;
}

.post_others > div > div:not(.trend_details_options) {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(29, 155, 240, 0.1);
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.post_others > div:hover {
  color: rgb(29, 155, 240);
}

.post_others > div:hover > div:not(.trend_details_options) {
  opacity: 1 !important;
}

.aside_options {
  position: relative;
  width: 30%;
  /* margin-top: 7px; */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.search_bar_back {
  position: sticky;
  top: 0;
  padding: 7px 0px;
  background-color: black;
  z-index: 9999;
}

.search_bar {
  display: flex;
  gap: 2.2rem;
  align-items: center;
  background-color: rgb(32, 35, 39);
  padding: 1.6rem 2.4rem;
  border-radius: 999px;
  cursor: text;
}

.search_bar svg {
  width: 2.5rem;
  height: 2.5rem;
  color: rgb(113, 113, 113);
}

.search_text {
  width: 100%;
  border: none;
  font-size: 1.8rem;
  color: rgb(231, 233, 234);
  background-color: rgba(0, 0, 0, 0);
}

.search_text:focus {
  outline: none;
}

.search_selected {
  background-color: black;
  border: 1px solid rgb(231, 233, 234);
}

.search_selected svg {
  color: rgb(231, 233, 234);
}

.search_result_main {
  position: absolute;
  /* opacity: 0; */
  top: 6.8rem;
  width: 100%;
  color: rgb(113, 113, 113);
  border: 1px solid rgb(47, 51, 54);
  border-radius: 1rem;
  padding: 1rem 0rem;
  min-height: 10rem;
  max-height: 70rem;
  background-color: black;
  z-index: 99999 !important;
  overflow: auto;
}

.search_result_main > p {
  text-align: center;
}

.search_result_main > div {
  width: 100%;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.search_result_main > div:hover {
  background-color: rgb(32, 35, 39);
}

.search_result_main .follow_name {
  color: rgb(231, 233, 234);
}

.result_last_option {
  text-align: start;
  color: rgb(231, 233, 234);
  font-size: 1.8rem;
}

.relevant_people,
.subscribe_ad,
.whats_happening,
.follow_recommendation {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: rgb(25, 27, 29);
  padding: 2rem;
  border-radius: 2rem;
  overflow: hidden;
}

.relevant_people {
  background-color: black;
  border: 1px solid rgb(47, 51, 54);
  padding-bottom: 0;
}

.relevant_people .recommend_follow_main_single:hover {
  background-color: transparent !important;
}

.single_trend {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(113, 113, 113);
  font-size: 1.5rem;
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  cursor: pointer;
}

.single_trend:hover {
  background-color: rgb(32, 35, 39);
}

.top_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending_options {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0.1rem; */
  /* padding: 10px;
  border-radius: 50%; */
  position: relative;
}

.trend_details_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 999 !important;
  width: max-content;
  top: 0;
  right: 0;
  background-color: black;
  border: 1px solid rgb(47, 51, 54);
  border-radius: 2rem;
  overflow: hidden;
}

.trend_details_options > div {
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem;
  cursor: pointer;
}

.trend_details_options > div:hover {
  background-color: rgb(25, 27, 29);
}

.trending_options svg {
  width: 1.8rem;
  height: 1.8rem;
}

.trending_options:hover {
  color: rgb(29, 155, 240);
  /* background-color: rgb(29, 155, 240, 0.1); */
}

.trend_main {
  color: rgb(231, 233, 234);
  font-size: 2rem;
  font-weight: bold;
}

.background_template {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 50%;
}

.trending_options:hover .background_template {
  display: block;
}

.recommend_follow_main_single {
  padding: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  cursor: pointer;
}

.recommend_follow_main_single:hover {
  background-color: rgb(32, 35, 39);
}

.footer_links {
  padding: 0rem 2rem;
  margin-bottom: 12rem;
}

.footer_aside_nav_links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer_aside_nav_link {
  display: inline-block;
  line-height: 0.4rem;
  list-style: none;
  font-size: 1.6rem;
  color: rgb(113, 113, 113);
  cursor: pointer;
}

.footer_aside_nav_link:hover {
  text-decoration: underline;
}

.footer_links p {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: rgb(113, 113, 113);
}

.post_option_svg {
  display: none;
}

.post_option_small_screen {
  display: none;
}

.nav_mobile {
  display: none;
}

.mobile_cancel_button {
  display: none;
}

.mobile_top_view {
  display: none;
}

@media (max-width: 85.75em) {
  .layout {
    width: 89%;
  }
}

@media (max-width: 81.25em) {
  .layout {
    width: 97%;
  }
}

@media (max-width: 81.25em) {
  .layout {
    width: 91%;
    gap: 3rem;
  }

  .navigation {
    width: max-content;
    margin-left: auto;
  }

  aside {
    margin-right: auto;
  }

  .nav_name,
  .navigation .follow_details,
  .session_svg_option,
  .post_option {
    display: none;
  }

  /* .main_box_details_options {
    
  } */

  .post_option_svg {
    display: block;
    padding: 2rem;
    border-radius: 50%;
  }

  .post_option_small_screen {
    display: none;
  }

  .post_option_svg > svg {
    width: 2.7rem;
    height: 2.7rem;
  }

  .nav_main_option,
  .session_main {
    margin-right: 0;
  }

  .nav_fix {
    align-items: center;
  }
}

@media (max-width: 78.75em) {
  .layout {
    width: 95%;
  }
}

@media (max-width: 75em) {
  .layout {
    width: 98%;
  }
}

@media (max-width: 72em) {
  .navigation {
    margin-left: 0;
  }

  .layout {
    gap: 2rem;
  }

  .main_content {
    width: 60%;
  }

  aside {
    width: 35%;
    margin-right: 0;
  }
}

@media (max-width: 62.8em) {
  .layout {
    gap: 1rem;
    width: 100%;
  }
  aside {
    display: none !important;
  }
  .main_content {
    width: auto;
  }
}

@media (max-width: 31.25em) {
  .navigation {
    display: none;
  }

  .nav_mobile {
    display: flex;
    background-color: black;
    height: 8.3rem;
  }

  .navigation_options {
    z-index: 9999;
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    width: 100vw;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    border-top: 1px solid rgb(47, 51, 54);
  }

  .post_option_small_screen {
    display: block;
    margin-top: -1.5rem;
    /* margin-bottom: 1.5rem; */
  }

  .post_mobile_background {
    /* margin-bottom: 1.5rem; */
    margin-top: -1.5rem;
    background-color: black;
    border-top: 2px solid rgb(47, 51, 54);
    padding: 2rem;
    border-radius: 50%;
  }

  .user_main_details {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .top_post_details {
    align-items: flex-start;
  }

  .post_bookmarks {
    display: none;
  }

  .posting_main {
    z-index: 99999 !important;
    position: fixed;
    top: unset;
    bottom: env(safe-area-inset-bottom);
    width: 100vw;
    height: max-content;
    background-color: black;
    border-top: 1px solid rgb(73, 77, 81);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  .posting_main:nth-child(3) {
    flex-direction: column;
    flex-basis: 100%;
  }

  .main_box_shadow {
    z-index: 99999 !important;
    position: fixed;
    top: unset;
    bottom: env(safe-area-inset-bottom);
    width: 100vw;
    height: max-content;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }

  .mobile_cancel_button {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgb(231, 233, 234);
    padding: 2rem;
    cursor: pointer;
    border: 1px solid rgb(73, 77, 81);
    border-radius: 999px;
  }

  .mobile_cancel_button:hover {
    background-color: rgb(25, 27, 29);
  }

  .mobile_top_view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem;
  }

  .top_option_main {
    width: 50%;
  }

  .option_settings {
    display: none;
  }

  .option_settings_mobile {
    width: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .option_settings_mobile > svg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .another_page_top_bar > .option_settings {
    display: flex;
    margin-left: 1rem;
  }

  .mobile_top_view {
    /* not visible when inside a profile or post */
    display: none;
  }

  .profile_main .background_image img {
    height: 10rem;
  }

  .profile_main_image {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: -7rem;
  }
/* 
  .profile_details_options {
    overflow-x: auto;
  } */

  /* .profile_details_option {
    width: 20%;
  } */
  /* .navigation {
    position: fixed;
    width: 100vw;
    bottom: env(safe-area-inset-bottom);
    background-color: black;
  }
  
  .nav_fix {
    left: 0;
    overflow-y: hidden;
    height: fit-content;
    top: unset;
    width: 100%;
  }

  .navigation_options {
    flex-direction: row;
    justify-content: space-around;
  }

  .post_option,
  .navigation_option_logo,
  .main_box_shadow,
  .nav_main_option:not(
      .nav_home,
      .nav_search,
      .nav_notification,
      .nav_messages
    ) {
    display: none;
  }

  .session_main {
    display: none;
  } */
  /* .trend_details_options {
    display: none;
  } */
}
